<div class="page">
  <div class="task-list" *ngIf="project">

    <div class="margin-bottom-big">
      <task-item *ngFor="let task of project.tasks" [task]="task" (click)="choseTask(task)"
        [selected]="selectedTask && selectedTask.id == task.id">
      </task-item>
    </div>

    <add-task [(tasks)]="project.tasks" [defaultTask]="getDefaultTask(project)"
      [projectId]="project.id" *ngIf="user"></add-task>

  </div>
  <div *ngIf="selectedTask" class="task-panel">
    <task-panel [task]="selectedTask" [categories]="user.categories"></task-panel>
  </div>
</div>