@import "../../../styles";
@import "../../../styles/task-list";

.content {
  width: 100px;
  height: 30px;
  background-color: #FEFEFE;
  box-shadow: 1px 1px 1px #B7B7B7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day {
  font-size: 20px;
}

.selected {
  font-weight: bold;
}