@import "../../styles";
@import "../../styles/task-list";

.projects-page {
  @extend .page;
  display: grid;
  grid-template-columns: 200px auto;
}

.project-panel {
  width: calc(100% - 20px);
  background-color: #3C3D42;
  padding: 20px 10px;
}

.project-list {
  font-size: 16px;
  color: white;
}

.project-item {
  @extend .flex-container;
  cursor: pointer;
  margin-top: 10px;
}

.add-input {
  @extend .pyt-input;
  width: 110px;
}

.selected {
  color: limegreen;
}